<div style="border: 1px solid black; width: 300px; margin-bottom: 20px; padding: 10px;">
<h3><%= @p.name %></h3>
<p><%= @p.description%></p>
<p>Cena: <i><%= @p.price %> PLN</i></p>
</div>

<%= link_to "<Wróć", root_path %>
