html {
	font-family: Verdana;
}
div { border: 0px solid black; }

div#main {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	overflow: hidden;
}

div#logo {
	width: 250px;
	height: 100px;
	float: left;
	background: url(/assets/logo.jpg) no-repeat left top;
	margin-bottom: 50px;
}

div#container {
	clear: both;
}

div#leftbar{
	float: left;
	width: 250px;
	background: #8bc7cb;
	
}

div#leftbar div{
	width: 244px;
	border: 1px solid black;
	margin-top: 55px;
	background: #43adc5;
	padding: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#leftbar h2{
	font-size: 17px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-top: 2px;
	letter-spacing: 1px;
}

div#content{
	float: right;
	width: 700px;
	background: #7ec347;
	padding: 5px;
}

div#categories a{
	display: block;
	text-decoration: none;
	margin-bottom: 3px;
}

div.product {
	border: 1px solid black;
	width: 300px;
	margin-bottom: 20px;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.product h3{
	margin-top: 3px;
}

div#notice{
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid darkgreen;
	background: lightgreen;
	padding: 3px;
	font-weight: bold;
}

div#alert, div#error{
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid darkred;
	background: red;
	padding: 3px;
	font-weight: bold;
}
